version: '3'
services:
  database:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: c2si_db
      POSTGRES_USER: c2si
      POSTGRES_PASSWORD: c2si
    ports:
      - 5432:5432

  server:
    build: ./tensormap-server
    environment:
      - FLASK_APP=app.py
      - secret_key=none
      - db_name=c2si_db
      - db_host=database
      - db_password=c2si
      - db_user=c2si
    depends_on:
      - database
    ports:
      - 5000:80
    volumes:
      - ./tensormap-server:/app
    stdin_open: true
    tty: true

  client:
    build: ./tensormap-client
    ports:
      - 5173:5173
    environment:
      - NODE_ENV=development
    volumes:
      - ./tensormap-client:/app
      - /app/node_modules
    depends_on:
      - server
    expose:
      - 5173
    stdin_open: true
    tty: true
volumes:
  tensormap-server:

volumes:  # This is the crucial missing piece!
  tensormap-server:  # Define the named volume here
